#firepad {
    visibility: hidden;
    position: relative;
    margin: auto;
    top: 100px;
    width: 700px;
    height: 450px;
    background-color: #f62;
}

h1 {
    position: relative;
    font-family: "Arial Black";
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    margin: auto;
}

body {
    background-color: #2bbab2 ;

}

p {
    top: 50px;
    display: inline-block;
    position: relative;
    font-family: "Droid Sans", sans-serif;
    text-align: center;
    font-size: 2em;
    color: white;
}

form {
    visibility: visible;
    position: relative;
    text-align: center;
    font-family: "Droid Sans", sans-serif;
    font-size: 2em;

}

input {
    font-family: "Georgia", sans-serif;
    color: white;
    font-size: 1em;
    background-color: #00acfa;
}