#firepad {
    visibility: hidden;
    position: relative;
    margin: auto;
    width: 700px;
    height: 450px;
    background-color: #f62;
    font-size: 1em;
}

.firepad {
    position: relative;
    top: 100px;
}

h1 {
    position: relative;
    font-family: "Arial Black";
    color: white;
    text-align: center;
    font-size: 50px;
    margin: auto;
}

h2 {
    position: relative;
    font-family: "Arial Black";
    color: white;
    text-align: center;
    font-size: 40px;
    margin: auto;
}

body {
    background-color: #1F6EB2 ;

}

p {
    bottom: 100px;
    display: inline-block;
    position: relative;
    font-family: "Droid Sans", sans-serif;
    text-align: center;
    font-size: 2em;
    color: white;
}

form {
    visibility: visible;
    bottom: 200px;
    position: relative;
    text-align: center;
    font-family: "Droid Sans", sans-serif;
    font-size: 3em;

}

span {
    color: red;
}

input {
    font-family: "Droid Sans", sans-serif;
    color: white;
    font-size: 1em;
    background-color: black;
}